:root {
    --primary-color: #29335c;
    --light-primary: #9ac4f8;
    --ligthest-color: #e9ebd5;
    --secondary-color: #774936;
    --light-secondary: #c08972;   
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background-color: var(--primary-color);
    color: var(--ligthest-color)
}

#menu-pesquisa {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

header > h2 > i {
    margin-right: 0.5rem;
}


